body {
	background-color: #2f3437;
}

.fullscreen-map {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*min-width: 1020px;*/
    z-index: -1;
}